// you can change colors here
$theme-color: #096dd9;
$text-color: #2c3e50;
$border-color: (
  light: #e4e6e9,
  dark: #534045
);

// 布局
$navbar-height: 3.75rem;
$sidebar-width: 18rem;
$content-width: 920px;
$home-page-width: 1160px;